[submodule "themes/archie"]
	path = "themes/archie"
	url = https://github.com/athul/archie.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
