.image-center {
	text-align: center;
	width: 100%;
  }

figure.no-border > img {
	border: 0;
}

figure.no-border {
	margin-top: 10px
}

code[data-lang=text] {
    text-wrap: wrap;
}

code[data-lang=markdown] {
    text-wrap: wrap;
}